@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --accent: #ff7300;
    --black: #000000;
    --white: #ffffff;
    --textHead: #1A1A1A;
    --textBody: #2A2A2A;
    --body: #f1f1f1
    --off-white: #EEEEEE
    --gray-1: #E7E7E7
    --gray-2: #d4d4d4;
    --20: 1.05vw;
    --22: 1.15vw;
    --24: 1.25vw;
    --26: 1.35vw;
    --30: 1.55vw;
    --44: 2.3vw;
    --48: 2.5vw;
    --76: 3.95vw;
    --96: 5vw;
    --120: 6.25vw;
    --140: 7.3vw;
    --190: 9.9vw;
}

@import "./fonts.css";
@import "./service-grid.css";
@import "./service-carousel.css";
@import "./hamburger.css";

html, body{
    overflow-x: hidden;
    height: 100%;
    width: 100vw;
}

body{
    font-family: 'Aeonik';
    color: #2A2A2A;
    letter-spacing: 0.5px;
    font-kerning: none;
    text-rendering: geometricPrecision;
    background-color: var(--white);
    cursor: none;
}

::selection{
    background-color: var(--accent);
    color: var(--white);
}

/* Lenis CSS Start */
html.lenis, html.lenis body {
    height: auto;
}
  
.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}
  
.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}
  
.lenis.lenis-stopped {
    overflow: hidden;
}
  
.lenis.lenis-smooth iframe {
    pointer-events: none;
}
/* Lenis CSS END */

/* Cursor Css */
.c-cursor__inner {
    color: #000000 !important;
}
main::before{
    pointer-events: none;
}
.footer-creative-curve .line .char {
    transform: translate3d(0, 100%, 0);
}
.under-multi{
  text-decoration: none;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0, 0)), linear-gradient(#000000, #000000);
  background-size: 100% 0px, 0% 1px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat, no-repeat;
  transition: all 0.5s ease-out; 
}

.under-multi-parent:hover .under-multi {
  background-size: 100% 0px, 100% 1px;
}

/* Header CSS Start */
.three_canvas{
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    height: 100vh !important;
    width: 100vw !important;
    pointer-events: none !important;
    z-index: 99999 !important;
}
/* Header CSS END */

/* Main CSS Start */
.link-transition{
    transition: all 1.2s cubic-bezier(.19,1,.22,1);
}

.container {
    width: 85%;
    max-width: 85%;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
}
.title-h1{
    font-size: var(--190);
    font-family: 'SpaceGrotesk';
    color: var(--textHead);
    line-height: 1;
    text-transform: uppercase;
}
.text-190{
    font-size: var(--190);
}
.text-140{
    font-size: var(--140);
}
.text-120{
    font-size: var(--120);
}
.text-96{
    font-size: var(--96);
}
.text-76{
    font-size: var(--76);
}
.text-48{
    font-size: var(--48);
}
.text-44{
    font-size: var(--44);
}
.text-30{
    font-size: var(--30);
}
.text-24{
    font-size: var(--24);
    line-height: 1.3;
}
.text-22{
    font-size: var(--22);
    line-height: 1.3;
}
.text-20{
    font-size: var(--20);
}

.aeonik{
    font-family: 'Aeonik';
}
.space-grotesk{
    font-family: 'SpaceGrotesk';
}

.cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cat-button.active {
    background-color: #1a1a1a;
    color: #fff;
    animation: none !important;
}

/* Text-anim */
.heading-anim .line{
    line-height: 0.8;
    overflow: hidden;
}
.heading-anim span{
    line-height: 1.1;
    overflow: hidden;
}
.portfolio-img-div:hover img{
    transform: scale(105%) !important;
}
.heading-anim.global-heading .line{
    line-height: 1.3;
}
.plus-list{
    padding-left: 4vw;
    position: relative;
}
.plus-list::after{
    content: '+';
    position: absolute;
    left: 0;
    color: currentColor;
    top: 50%;
    transform: translateY(-55%);
}
.global-heading .line{
    overflow: hidden;
}

.textbreak .line{
    width: fit-content !important;
    background: linear-gradient(90deg, #1a1a1a 50%, #1a1a1a2e 0);
    background-size: 200% 100%;
    background-position-x: 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    position: relative;
}


.modal-fixed{
    position: fixed !important;
}
/* Main CSS end */

/* Testimonial SwiperCSS Start */
.mySwiper{
    width: 65%;
    position: unset !important;
    margin: 0 !important;
}
.mySwiper .swiper-pagination{
    font-size: 1.3vw;
    position: absolute;
    top: 25.5%;
    right: 25.1%;
}
/* Testimonial SwiperCSS END */

@media  screen and (max-width:540px) {
    :root{
        --accent: #ff7300;
        --black: #000000;
        --white: #ffffff;
        --textHead: #1A1A1A;
        --textBody: #2A2A2A;
        --body: #f1f1f1
        --off-white: #EEEEEE
        --gray-1: #E7E7E7
        --gray-2: #d4d4d4;
        --20: 4vw;
        --22: 4vw;
        --24: 4.6vw;
        --26: 6vw;
        --30: 5vw;
        --44: 6vw;
        --48: 5.5vw;
        --76: 6.5vw;
        --96: 9.5vw;
        --120: 11vw;
        --140: 11vw;
        --190: 14.4vw;
    }
    .text-190{
        font-size: var(--190);
    }
    .text-140{
        font-size: var(--140);
    }
    .text-120{
        font-size: var(--120);
    }
    .text-96{
        font-size: var(--96);
    }
    .text-76{
        font-size: var(--76);
    }
    .text-48{
        font-size: var(--48);
    }
    .text-44{
        font-size: var(--44);
    }
    .text-30{
        font-size: var(--30);
    }
    .text-24{
        font-size: var(--24);
        line-height: 1.3;
    }
    .text-22{
        font-size: var(--22);
        line-height: 1.3;
    }
    .text-20{
        font-size: var(--20);
    }
    .mySwiper{
        width: 95%;
        position: unset !important;
        margin: 0 !important;
    }
    .mySwiper .swiper-pagination{
        font-size: 4vw;
        position: absolute;
        top: 11.5%;
        right: 14%;
    }
    .mySwiper button{
        width: 7vw;
        height: 7vw;
        color: white;
        background-color: black;
        padding: 1.5vw;
    }
    .container {
        width: 90%;
        max-width: 90%;
        margin: auto;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 940px) {
    #c-cursor{
        display: none !important;
    }
}
@media  screen and (min-width:541px) and (max-width:1024px) {
    :root{
        --accent: #ff7300;
        --black: #000000;
        --white: #ffffff;
        --textHead: #1A1A1A;
        --textBody: #2A2A2A;
        --body: #f1f1f1
        --off-white: #EEEEEE
        --gray-1: #E7E7E7
        --gray-2: #d4d4d4;
        --20: 2.5vw;
        --22: 2.5vw;
        --24: 2.8vw;
        --26: 3vw;
        --30: 3.5vw;
        --44: 2.3vw;
        --48: 3vw;
        --76: 6vw;
        --96: 6vw;
        --120: 7vw;
        --140: 8.2vw;
        --190: 13vw;
    }
    .title-h1{
        font-size: var(--190);
        font-family: 'SpaceGrotesk';
        color: var(--textHead);
        line-height: 1.1;
        text-transform: uppercase;
    }
    .text-190{
        font-size: var(--190);
    }
    .text-140{
        font-size: var(--140);
    }
    .text-120{
        font-size: var(--120);
    }
    .text-96{
        font-size: var(--96);
        line-height: 1.3;
    }
    .text-76{
        font-size: var(--76);
    }
    .text-48{
        font-size: var(--48);
    }
    .text-44{
        font-size: var(--44);
    }
    .text-30{
        font-size: var(--30);
    }
    .text-24{
        font-size: var(--24);
        line-height: 1.3;
    }
    .text-22{
        font-size: var(--22);
        line-height: 1.3;
    }
    .text-20{
        font-size: var(--20);
    }
    .mySwiper{
        width: 75%;
        position: unset !important;
        margin: 0 !important;
    }
    .mySwiper .swiper-pagination{
        font-size: 2.5vw;
        position: absolute;
        top: 17.5%;
        right: 9%;
    }
    .mySwiper button{
        width: 5vw;
        height: 5vw;
        color: white;
        background-color: black;
        padding: 1.2vw;
    }
}
