@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --accent: #ff7300;
    --black: #000000;
    --white: #ffffff;
    --textHead: #1A1A1A;
    --textBody: #2A2A2A;
    --body: #f1f1f1
    --off-white: #EEEEEE
    --gray-1: #E7E7E7
    --gray-2: #d4d4d4;
    --20: 1.05vw;
    --22: 1.15vw;
    --24: 1.25vw;
    --26: 1.35vw;
    --30: 1.55vw;
    --44: 2.3vw;
    --48: 2.5vw;
    --76: 3.95vw;
    --96: 5vw;
    --120: 6.25vw;
    --140: 7.3vw;
    --190: 9.9vw;
}

@import "./fonts.css";
@import "./style.css";
@import "./service.css";
@import "./hamburger.css";

html, body{
    overflow-x: hidden;
    height: 100%;
    width: 100vw;
}

body{
    font-family: 'Aeonik';
    color: #2A2A2A;
    letter-spacing: 0.5px;
    font-kerning: none;
    text-rendering: geometricPrecision;
    background-color: var(--white);
}

/* Lenis CSS Start */
html.lenis, html.lenis body {
    height: auto;
}
  
.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}
  
.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}
  
.lenis.lenis-stopped {
    overflow: hidden;
}
  
.lenis.lenis-smooth iframe {
    pointer-events: none;
}
/* Lenis CSS END */


/* Header CSS Start */
.three_canvas{
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    height: 100vh !important;
    width: 100vw !important;
    pointer-events: none !important;
    z-index: 99999 !important;
}
/* Header CSS END */

/* Main CSS Start */
.link-transition{
    transition: all 1.2s cubic-bezier(.19,1,.22,1);
}

.container {
    width: 85%;
    max-width: 85%;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
}
.title-h1{
    font-size: var(--190);
    font-family: 'SpaceGrotesk';
    color: var(--textHead);
    line-height: 1;
    text-transform: uppercase;
}
.text-190{
    font-size: var(--190);
}
.text-140{
    font-size: var(--140);
}
.text-120{
    font-size: var(--120);
}
.text-96{
    font-size: var(--96);
}
.text-76{
    font-size: var(--76);
}
.text-48{
    font-size: var(--48);
}
.text-44{
    font-size: var(--44);
}
.text-30{
    font-size: var(--30);
}
.text-24{
    font-size: var(--24);
    line-height: 1.3;
}
.text-22{
    font-size: var(--22);
    line-height: 1.3;
}
.text-20{
    font-size: var(--20);
}

.aeonik{
    font-family: 'Aeonik';
}
.space-grotesk{
    font-family: 'SpaceGrotesk';
}

.cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cat-button.active {
    background-color: #1a1a1a;
    color: #fff;
    animation: none !important;
}
/* Main CSS end */

/* Testimonial SwiperCSS Start */
.mySwiper{
    width: 65%;
    position: unset !important;
    margin: 0 !important;
}
.mySwiper .swiper-pagination{
    font-size: 1.3vw;
    position: absolute;
    top: 25.5%;
    right: 25.1%;
}
/* Testimonial SwiperCSS END */



