.main{
    position: relative;
    display: flex;
    height: 100vh;
    margin-bottom: 100vh;
    overflow: hidden;
    background-color: #1f1f1f;
  }
  
  .main img{
    object-fit: cover;
  }
  
  .sliderContainer{
    position: absolute;
    top: 30%;
  }
  
  .slider{
    position: relative;
    white-space: nowrap;
  }

  .slider2{
    position: relative;
    white-space: nowrap;
  }